@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --text-branco-primary: #ffffff;
  --text-cinza-secundary: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-fundo: #000000;
  --fonte-primaria: "Inter", sans-serif;
  --botao-azul-efeito: #3c92fa;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-fundo);
  color: var(--text-branco-primary);
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url(./img/Background.png);

  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;

  /* text-align alinha tudo que está dentro de um elemento de bloco */
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__caixa {
  margin: 6em 6em;
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__aviso {
  font-size: 12px;
  color: var(--text-cinza-secundary);
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--text-branco-primary);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.botao__secundario {
  background-color: transparent;
  border: 2px solid var(--text-branco-primary);
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--text-branco-primary);
  margin: 0.1em;
}

.descricao__paragrafo {
  color: var(--text-cinza-secundary);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.container__descricao {
  padding: 2em;
}

.dispositivos {
  text-align: center;
}

.dispositivos__lista {
  justify-content: center;
  display: flex;
  list-style-type: none;
  margin: 5em 0;
}

.dispositivos__titulo {
  font-size: 48px;
  color: var(--text-branco-primary);
}

.lista__item {
  color: var(--text-branco-primary);
  font-size: 32px;
}

.rodape {
  text-align: center;
  margin: 5em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho__imagem {
  margin: 3em 0;
}

.cabecalho__links {
  gap: 1em;
  display: flex;
  margin: 3em 0;
}

.links__cabecalho {
  text-decoration: none;
  color: var(--text-branco-primary);
}

.cabecalho__paragrafo {
  font-size: 14px;
  margin-bottom: 1em;
  color: var(--text-cinza-secundary);
}

.links__cabecalho:hover {
  color: var(--botao-azul);
}

.links__cabecalho:active {
  color: purple;
}

.container__botao:hover {
  background-color: var(--botao-azul-efeito);
  color: var(--cor-fundo);
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  .container__titulo {
    font-weight: 700;
    font-size: 1em;
    width: 60%;
  }
  .container__caixa {
    margin: 3em 2em;
  }

  .container__imagem {
    width: 40vw;
    margin-right: 50%;
  }

  .secundario {
    margin: 0;
    display: block;
    text-align: center;
  }

  .secundario__imagem {
    width: 70vw;
  }

  .dispositivos__lista {
    display: block;
  }

  .dispositivos {
    font-size: 32px;
  }

  .rodape__lista {
    display: block;
  }

  .cabecalho__links {
    display: block;
  }
  .links__cabecalho {
    margin-bottom: 1em;
  }
  .rodape {
    margin: 3em 1em;
  }
}
